* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark1: #08041C;
    --dark2: #13132C;
    --darkfont: #B3B2C8;
    --light1: #FAFCFF;
    --light2: #E8EBF5;
    --lightfont: #3B3B48;
    --comp: #464752;
}

a{
    text-decoration: none;
    color: var(--comp);
}