* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg1: #08041C;
    --bg2: #FAFCFF;
    --font1: #B3B2C8;
    --font2: #3B3B48;
    --accent: #4F2ED0;
    --font: #FAFCFF;
}

[data-theme="light"] {
    --bg1: #FAFCFF;
    --bg2: #08041C;
    --font1: #3B3B48;
    --font2: #B3B2C8;
    --accent: #08041C;
    --font: #FAFCFF;
}

body {
    background-color: var(--bg1);
    color: var(--font1);
}

a {
    text-decoration: none;
    color: var(--comp);
}

.Button {
    background-color: var(--accent);
    color: var(--font);
    width: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}


.Nav {
    background: var(--bg1);
    color: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 4vw;
}

.Navbtns {
    display: flex;
    align-items: center;
}

.Navbtns .Button {
    width: 80px;
    padding: 5px;
    font-size: 13px;
    margin: 0 20px;
}

.Navuser {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ThemeBtn-checkbox {
    display: none;
}

.ThemeBtn-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: var(--accent);
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.ThemeBtn-label .ThemeBtn-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 45px;
    transition: 0.2s;
    background: var(--bg1);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.ThemeBtn-checkbox:checked+.ThemeBtn-label .ThemeBtn-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.ThemeBtn-label:active .ThemeBtn-button {
    width: 20px;
}

.Home {
    padding: 10px 4vw;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.Home .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.Home .content h1 {
    font-size: 50px;
}

.Home .content p {
    font-size: 20px;
    padding: 20px 0;
}

.Home .illustration {
    height: 100%;
    margin-right: 60px;
}

.Dashboard {
    padding: 10px 4vw;
    display: flex;
    justify-content: space-between;
}

.List {
    height: 500px;
    width: 20vw;
    overflow-y: scroll;
}

.List::-webkit-scrollbar {
    display: none;
}

.Coinrow {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--font2);
    border-top: 1px solid var(--font2);
    padding: 0 10px;
}

.Coinrow img {
    height: 30px;
}

.Graph {
    width: 800px;
}

.CoinInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:10px 0;
}

.FilterButton{
    display: flex;
}

.ChartButton{
    background-color: var(--accent);
    color: var(--font);
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    margin: 0 10px;
}

.Coinname {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Coinname img {
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {

    .Home {
        justify-content: center;
    }

    .Home .illustration {
        margin-right: 0px;
    }

    .Home .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.Footer {
    position: fixed;
    background: var(--accent);
    color: var(--font);
    width: 100vw;
    bottom: 0;
    text-align: center;
    padding: 10px;
}