* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --bg1: #08041C;
    --bg2: #13132C;
    --font: #B3B2C8;
    --accent: #464752;
}

[data-theme="light"] {
    --bg1: #FAFCFF;
    --bg2: #E8EBF5;
    --font: #3B3B48;
    --accent: #464752;
} */

:root {
    --bg1: #08041C;
    --bg2: #FAFCFF;
    --font1: #B3B2C8;
    --font2: #3B3B48;
    --accent: #464752;
}

[data-theme="light"] {
    --bg1: #FAFCFF;
    --bg2: #08041C;
    --font1: #3B3B48;
    --font2: #B3B2C8;
    --accent: #464752;
}

body {
    background-color: var(--bg1);
    color: var(--font1);
}

a {
    text-decoration: none;
    color: var(--comp);
}

.Nav{
    background: var(--bg1);
    color: var(--font1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.ThemeBtn-checkbox {
    display: none;
}

.ThemeBtn-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background: var(--accent);
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.ThemeBtn-label .ThemeBtn-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 45px;
    transition: 0.2s;
    background: var(--bg1);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.ThemeBtn-checkbox:checked+.ThemeBtn-label .ThemeBtn-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.ThemeBtn-label:active .ThemeBtn-button {
    width: 20px;
}

.Home{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
}

.Footer {
    position: absolute;
    background: var(--bg2);
    color: var(--font2);
    width: 100vw;
    bottom: 0;
    text-align: center;
    padding: 15px;
}